/Engenharia de Software III/Strategy/teste/nbproject/private/
/Engenharia de Software III/Strategy/testeAxur/nbproject/private/
/Engenharia de Software III/Strategy/testeAxur/build/
/Engenharia de Software III/Strategy/Strategy pattern/nbproject/private/
/Engenharia de Software III/Strategy/Strategy pattern/build/
/Engenharia de Software III/Strategy/Strategy/nbproject/private/
/Engenharia de Software III/Strategy/Strategy/build/
/Engenharia de Software III/Strategy/StrategyDesingPattern/nbproject/private/
/Engenharia de Software III/Strategy/StrategyDesingPattern/build/
/Engenharia de Software III/Strategy/CompositePattern/nbproject/private/
/Engenharia de Software III/Strategy/CompositePattern/build/
/Engenharia de Software III/Strategy/SingletonPattern/nbproject/private/
/Engenharia de Software III/Strategy/SingletonPattern/build/
/Engenharia de Software III/Strategy/FacedePattern/nbproject/private/
/Engenharia de Software III/Strategy/FacedePattern/build/
/Engenharia de Software III/Strategy/ObserverPattern/nbproject/private/
